# Ignore Vagrant development setup
install-opengrm.sh
Vagrantfile

# Ignore Vagrant settings and logfiles
.vagrant/
ubuntu-*-console.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore intermediate files
synonymliste
wortliste

# Ignore .far files
german-pro-stemmer.far
synonymliste.far
wortliste.far

# Ignore testing files
.rewrite-tester-history
